<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
    <title>All Product</title>
</head>
<body>
    <div class="menu_top">
    <form action="/doSearch" method="post" style="float: right;" >
        <input  id ="text" name="txtStatus" id="">
        <input  type="submit" value="Search">
    </form>
        <ul>
            <li><a href="/">Shop Toys</a></li>
            <li><a href="insert">New Product</a></li>

        </ul>
    </div>


    <div class="main">
{{#each model}}
    <ul id="category">
    <li class="product" >
        <div class="ProductName">Name : {{name}}</div>
        <div class="Image"><img style="height: 250px;" src="{{image}}"></div>
        <div class="Price">Price : ${{price}} </div>
        <div>Status : {{status}}</div>

        <a href="/delete?id={{_id}}">Delete</a>

    </li>
    </ul>
{{/each}}
</div>
</body>
</html>